<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ArchNN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/master.css" />
    </head>
    {% block body %}{% endblock %}
</html>

